* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFF
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: #000;
}

#line {
    position: absolute;
    height: 100%;
    left: calc(700px / 2);
    border: 1px dashed #FFF;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 3rem;
    margin-bottom: 16px;
}

#board {
    width: 700px;
    aspect-ratio: 1/1;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    position: relative;
}

.bar {
    width: 16px;
    height: 130px;
    position: absolute;
    background: #FFF;
}

.player-2 {
    right: 24px;
}

#ball {
    width: 10px;
    height: 10px;
    border-radius: 60%;
    background: #FFF;
    position: absolute;
    left: calc((700px / 2) - 4px);
    top: 0
}